/*���������*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}

.container{
    width: 100%;
    max-width: 1400px; 
    margin: 0 auto;
}

.lato-thin {
    font-family: "Lato", serif;
}

.body{
    font-family: "Lato", sans-serif;
}

.header{
    margin: 0 auto;
    width: 100%;
    padding-top: 20px;
    height: 85px;
}

.header__container{
    display: flex;
    margin-top: 15px;
    justify-content: space-between;
}

.header__logo{

}

.header__menu{
    display: flex;
    margin-right: 30px;
    column-gap: 30px;
}

.header__menu-item{
    
}

.header__menu-link{ 
    font-size: 20px;
    font-weight: 500;
    color: #292929;
}

.header__menu-link:hover{
    color: #01996D;
}

.header__actions{
}

.header__action-link{
    color: #000000;
    font-size: 20px;
    font-weight: 400;
    margin-right: 30px;
}

.header__action-link:hover{
    color: #01996D;
}

.button{
    padding: 13px 50px 13px 50px;
    border-radius: 4px 0px 0px 0px;
    border: 1px 0px 0px 0px;
    background: #01996D;
    border: 1px solid #01996D;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
}

.button:hover{
    color: #000000;
}

.hero{
    display: flex;
    align-items: center;    
    background-size: cover; /* Масштабируем изображение, чтобы оно покрывало весь блок */
    background-position: center; /* Центрируем изображение по блоку */
    background-repeat: no-repeat; /* Убираем повторение изображения */
    
    height: 895px;
    background-image: url('img/BG.png');    
}

.hero__content{ 
    height: 384px;      
    max-width: 480px;   
    margin-left: 5%;    
    margin-bottom: 10%;
}

.title{
    font-family: Georgia;
    font-size: 65px;
    font-weight: 700;
    text-align: left;
    color: #01996D;
    line-height: 73.85px;
}

.hero__description{
    font-size: 20px;
    font-weight: 400;
    line-height: 28.9px;
    text-align: left;   
    margin: 12% 0 12% 0;
}

.hero__button{

}

.how-it-works{

}

.mini-title{
    font-size: 24px;
    font-weight: 600;
    color: #424242;
}

.how-it-works__header{
    display: flex;
    justify-content: space-between;
    height: 327px;
    align-items: center;
    margin:0 7% 0 7%;
}

.title-how-it-works{
    font-size: 50px;
    max-width: 50%;
    line-height: 78.5px;    
}

p{
    line-height: 30px;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    color: #424242;
}

.p-how-it-works{
    max-width: 50%;
}

.how-it-works__steps{
    display: flex;
    justify-content: space-between;
    margin:0 7% 0 7%;
}

.step{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 29%;
    max-width: 390px;
}

.step__number{
    font-family: Georgia;
    font-size: 150px;
    font-weight: 400;
    line-height: 225px;
    text-align: center;
    color: #01996D;
    opacity: 20%;
}

.step__title{
    font-family: Georgia;
    font-size: 30px;
    font-weight: 700;
    line-height: 45px;
    text-align: center;
    color: #000000;    
}

.step__description{
    margin: 12% 0 12% 0;
}

.success-story{
    background-color: #245852;
    height: 922px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.success-story__content{
    margin-left: 7%;
}

.success-story__title{
    font-family: Georgia;
    font-size: 50px;
    font-weight: 700;
    line-height: 78.5px;
    color: #FFFFFF;
}   

.success-story__description{
    font-size: 25px;
    font-weight: 600;
    line-height: 39.25px;
    color: #FFFFFF;
    margin: 10% 0 15% 0;
}

.button-story{
    margin-top: 10  0px;
}

.success-story__video{
    margin-right: 7%;
}

.product-section{
    display: flex;
    justify-content: space-between;
    margin:5% 10% 0 10%;
}

.product-section__image-container{
    position: relative;
}

.product-section__details{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    align-items: center;
    position: absolute;
    z-index: 2;
    bottom: 1%; 
    left: 1%; 
    padding: 20px;
    width: 40%;
    box-shadow: 0px 3.62px 18.11px 0px #A5A5A540;    
    border: 0.75px solid #000000   
}


.product-section__customized-for{
    font-size: 14.49px;
    font-weight: 600;
    line-height: 22.75px;   
    margin-bottom: 5%;
}

.product-section__customized-for::after {
    content: ""; /* Пустой элемент для создания линии */
    display: block;
    width: 100%; 
    margin: 5px auto 0;
    border: 0.75px solid #000000
}

.product-section__image {
    width: 100%;
}

.product-section__mini-image{
    margin: 5% 0 5% 0;
}

.product-section__name{
    font-size: 11.94px;
    font-weight: 400;
    line-height: 18.74px;   
    margin-bottom: 5%;
}

.product-section__title{
    font-family: Georgia;
    font-size: 15.93px;
    font-weight: 700;
    line-height: 25.01px;
    color: #000000;
    margin: 5% 0 5% 0;
}

.product-section__custom-contents{
    font-size: 10.62px;
    font-weight: 400;
    line-height: 16.67px;
    color: #000000;
    text-align: left;
   
}

.product-section__custom-contents li {
    margin-bottom: 5px;
    list-style-type: disc; /* Включает точки */
    text-align: left;
}

.product-section__content{
    margin-left: 15%;
    max-width: 584px;
}

.mini-title-product-section{
    margin-bottom: 2%;
}

.title-product-section{
    font-size: 50px;
    line-height: 78.5px;
}

.product-section__description{
    font-weight: 400;
    line-height: 31.4px;
    margin: 5% 0 7% 0;
}

.button-product-section{

}

.footer{
    margin-top: 10%;
    background-color: #245852;
    padding: 10%;
}

.footer__title{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    font-weight: 900;
    line-height: 54.64px;
    color: #FFFFFF;    
    margin-bottom: 5%;
}

.footer__links{

}


.footer__link{
    display: block;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    color: #FFFFFF; 
    margin-bottom: 5%;
}